
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  img{
    width: 80px;
  }
  ul{
    list-style: none;
    li{
      display: inline-block;
      padding: 0 0.5rem;
      a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 96px;
        color: #464646;
        &.active,
        &:hover{
          cursor: pointer;
          color: $primary-color;
          border-bottom: 4px solid $primary-color;
        }
      }
      
    }

  }
  
}